

html, body{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
/*---------------------------------------------*/

/*stops border from being round*/
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

* { 
	list-style: none;
}

#body{ 
	font: 13px Helvetica, Arial; 
	background-color: white;

}
#content{
	display: block;
	/*height: 100%;*/
	width: 100%;
}

#left{
	display: block;
	float: left;
	height: 100%;
}

#right{
	display: inline-block;
	float: right;
	width: 100%;
}

#animation_container{
    position: relative;
    background: yellow;
	left: 80px;
	top: 95px;
}

#animation {
    width: 100px;
    height: 18px;
    position: absolute;
    /*background: red;*/
}

#anim_label{
	position: absolute;
	left: 75px;
	top: 1px;

}




.listitem{
	color: white;
}

/*this is for user css styling ---------------------------------------------*/
#header{
	margin-right: 6%;
}

#title{
	position: relative;
	float: left;
}

.button {
    background-color: black; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    height: 22px;
    width: 22px;
}

.button:hover{
	/*margin: 0 0 0 0;*/
	/*padding: 0 0 0 0;*/
	height: 22px;
    background-color: black; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    height: 22px;
    width: 80px;
}

.button:focus {
 	outline: 0;
}

.rbutton {
    background-color: black; /* Green */
    border: none;
    color: white;
    text-align: center;
    margin-top: 0.1em;
    width: 100%;
    text-decoration: none;
    display: inline;
    font-size: 16px;
}

.rbutton:focus {
 	outline: 0;
}

#styleMenu{
	border-style: dotted;
	height: 60%;
	width: 40%;
	z-index: 10;
	left: 50%;
	position: absolute;
	display: block;
	background-color: white;
	padding: 1em;
	margin-right: 3em;
}

#roomMenu{
	border-style: dotted;
	height: auto;
	width: 20%;
	z-index: 10;
	left: 70%;
	position: absolute;
	display: block;
	background-color: white;
	padding: 1em;
	margin-right: 3em;
}

.styleMenuEntry{
	padding-top: 0.5em;
}
#fontSize{
	float: right;
}
#borderSize{
	float: right;
}
#fontDropDown{
	float: right;
}
#borderStyle{
	float: right;
}
.jscolor{
	float: right;
}

/*this is for uploading files ---------------------------------------------*/
#addFile{
    border: none;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#form2{
 	position: fixed;
 	top:25%;
 	left:0.5em;
}

#form1 {
 	background: #000; 
 	position: fixed; 
 	bottom: 10px;
 	width: 76%; 
	margin: 7px;
	border-style: dotted;	
}

#form1 input { 
	border: 0; 
	padding: 0.5%;
	width: 87%;
	margin: 5px;
}

#form1 button { 
	width: 10%; 
	float: right;
	margin-top: 0.5%;
	height: 24px;	
	background: rgb(130, 224, 255); 
	border: none; 
}	

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
#messages li {
	padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
	background: #eee; 
}



/*---------------------------------------------*/
#drop_zone{
	height: 35%;
	width: 80%;	
	float: right;
	border-style: dotted;
	overflow-y: scroll;
	margin: 5px;
	margin-right: 12%;

}
#list{
	padding-top: 0px;
	margin: 0px;
	list-style: none;
}

li {
	/*margin: 1em;*/
	/*padding: 1em;*/
}
.listitem{
	width: 1%;
	margin: 0px;
	padding: 0.6em;
	list-style: none;

}


#chat{
	height: 32%;
	width: 80%;	
	float: right;
	border-style: dotted;
	overflow-y: scroll;
	margin: 5px;
	margin-right: 12%;
}

#message{
	height: 5%;
	width: 80%;	
	float: right;
	border-style: dotted;
	overflow-y: hidden;
	margin: 5px;
	margin-right: 12%;
}
/*#data{
    width: 200%;
}
#datasend{
	float: right;
}*/

/* holds the message and the button*/
#post{
	display: flex;
}
/* im the message*/
#data{
	vertical-align: center;	
	width: 88%;
}
/* im the button*/
#datasend{
	width: 18%;
}




#effects{
	display: none;
	height: 150px;
	width: 15%;
	float: left;	
	border-style: dotted;
	margin-top: 5.5%;
	margin-bottom: 4px;
}
.thumb {
	height: 75px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}


/* AUDIO PLAYER ---------------------------------------------*/

#currentlyPlaying{
	display: block;
	float: left;
	width: 60%;
	vertical-align: center;

	/*margin: 0.5em;*/
}

#audioplayer{
	width: 80%;	
	height: 5%;
	/*margin: 5px;*/
	float: right;
	margin-right: 12%;
	border-style: dotted;
	font-size: 11px;
	text-align:left;
}
 
#pButton{
  height:22px;
  width: 22px;

  border-style: none;
  background-size: 100% 100%;
  background-position: left top; 
  background-repeat: no-repeat;

  padding: 1px;
  margin: 2px;
  margin-top: 3px;
  float:left;
  outline:none;
}
 
.play{
}
.pause{
}
 


 
#rngVolume{
	width: 20%;
	float: right;
}

#songName{
	width: 92%;
	display: inline;
	float: left;
	margin-top: 0.5em;
}

.button{
	margin: .1em;
}

input[type=range] {
	padding-top: 1em;
  -webkit-appearance: none;
  /*margin: 18px 0;*/
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /*background: #3071a9;*/
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  top: 20px;
  /*vertical-align: center;*/
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  /*background: #367ebd;*/
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: .4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /*background: #3071a9;*/
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  /*background: #3071a9;*/
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  /*background: #3071a9;*/
}
input[type=range]:focus::-ms-fill-upper {
  /*background: #367ebd;*/
}